[Unit]
Description=Saving and restoring of display brightness
After=basic.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=python3 -m tjtools.brightness --restore
ExecStop=python3 -m tjtools.brightness --save

[Install]
WantedBy=multi-user.target
