[Unit]
Description=Initialize COM1 port for use with lircd

[Service]
Type=oneshot
ExecStart=/bin/setserial -b /dev/ttyS0 uart none
ExecStart=/sbin/modprobe serial-ir
RemainAfterExit=true
ExecStop=/sbin/modprobe -r serial-ir
