SUBSYSTEM!="drm", GOTO="drm_amdgpu_end"
ACTION=="remove", GOTO="drm_amdgpu_end"

# Dell G5 5505
# - AMD Renoir iGPU
# - AMD Navi10 dGPU
KERNEL=="card*", ATTRS{device}=="0x1636", ATTRS{vendor}=="0x1002", SYMLINK+="dri/card-iGPU-Renoir"
KERNEL=="renderD*", ATTRS{device}=="0x1636", ATTRS{vendor}=="0x1002", SYMLINK+="dri/render-iGPU-Renoir"
KERNEL=="card*", ATTRS{device}=="0x731f", ATTRS{vendor}=="0x1002", SYMLINK+="dri/card-dGPU-Navi10"
KERNEL=="renderD*", ATTRS{device}=="0x731f", ATTRS{vendor}=="0x1002", SYMLINK+="dri/render-dGPU-Navi10"

LABEL="drm_amdgpu_end"

# Set autosuspend delay of the Navi10 to 30 seconds.
SUBSYSTEM=="pci", DRIVER=="amdgpu", ATTR{device}=="0x731f", ATTR{vendor}=="0x1002", ATTR{power/autosuspend_delay_ms}="30000"

# Set autosuspend delay of the Navi22 to 10 seconds.
SUBSYSTEM=="pci", DRIVER=="amdgpu", ATTR{device}=="0x73df", ATTR{vendor}=="0x1002", ATTR{power/autosuspend_delay_ms}="10000"
